* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.calc {
  width: 400px;
  background-color: black;
  color: cornsilk;
}

.screen {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 20px 5px;
}

.calc-button {
  background-color: rgba(234, 238, 243, 0.918);
  color: rgb(19, 1, 53);
  height: 90px;
  width: 24.5%;
  border: none;
  border-radius: 0;
  font-size: 30px;
  cursor: pointer;
}

.calc-button:hover {
  background-color: rgb(250, 236, 236);
}

.calc-button:active {
  background-color: rgb(3, 240, 248);
}

.calc-button:last-child {
  background-color: greenyellow;
}

.calc-button:last-child:hover {
  background-color: rgb(230, 248, 125);
}

.calc-button:last-child:active {
  background-color: rgb(1, 107, 54);
  color: lavenderblush;
}

.double {
  width: 49.7%;
}

.triple {
  width: 74.8%;
}

.calc-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.5%;
}
